* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 30px auto;
  max-width: 500px;
  padding: 20px;
}

.form-wrap h1 {
  text-align: center;
}

.form-wrap .form-group {
  margin-top: 15px;
}

.form-wrap .form-group label {
  display: block;
}

.form-wrap .form-group input {
  width: 80%;
  padding: 10px;
  border: #333 1px solid;
  border-radius: 5px;
}

.form-wrap button {
  background: #FFC3A0
}