.content-wrapper {
  background-image: url('https://t4.ftcdn.net/jpg/03/38/18/47/240_F_338184799_qDtjVptNgJZMDLQpvpRrmzNOCdWfqhzX.jpg');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 30px auto;
  max-width: 500px;
  padding: 20px;
}

.controls {
  cursor: pointer;
}

.form-wrap h1 {
  text-align: center;
}

.form-wrap .form-group {
  margin-top: 15px;
}

.form-wrap .form-group label {
  display: block;
}

.form-wrap .form-group input {
  width: 80%;
  padding: 10px;
  border: #333 1px solid;
  border-radius: 5px;
}

.form-wrap button {
  background: #FFC3A0
}