.contact-number a {
  padding: 10px;
  color: #333;
  background-color: antiquewhite;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: .5s;
}

a {
  text-decoration: none;
}

.contact-section-wrapper-location {
  margin-top: 20px;
}