@import url('https://fonts.googleapis.com/css2?family=Caveat&family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  font-family: 'Caveat', cursive;
  font-size: 60px;
}

/* .App-header h4 {
  font-size: 68px;
  margin: 0;
}

.App-header h5 {
  font-size: 48px;
  margin: 10px;
} */